:root {
    /* Color Variables */
    --primary-color: #e68957;
    --secondary-color: #c777e9;
    --tertiary-color: #eccfc0;
    --font-color: #2b2b2b;
}

html {
    font-size: 18px;
}

body {
    background-color: var(--secondary-color);
    background-image: linear-gradient(to left, #fae8df, var(--secondary-color));
    margin: 0;
}

header {
    height: 100px;
    width: 100%;
    background-color: var(--primary-color);
    background-image: linear-gradient(to right, var(--tertiary-color), var(--primary-color));
    margin:10px 0px
    
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-size: 1rem;
    font-family: neuton;
    width: 100%;
}

.navigation h2 {
    color: white;
    font-size: 1.5rem;
    font-family: homemade apple, cursive;
}

@media (max-width: 800px) {
    .navigation {
        font-size: 0.75rem;
    }
    .navigation h2 {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .navigation h2 {
        font-size: 0.75rem;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;

}

li a {
    display: block;
    color: var(--font-color);
    font-family: palanquin, sans-serif;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    border-radius: 10%;
    border-right-color: #e4611b;
    
}

a {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

li a:hover {
    background-color: #f0a278;
    font-size: 1.5rem;
}

a:focus {
    color: #eb484d;
}

.web-about {
    background-color: #ffffff;
    text-align: center;
    padding: 50px 200px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
    display: flex;
    justify-content: left;
}

.web-about h1 {
    font-size: 3rem;
    font-family: homemade apple, cursive;
    color: var(--font-color);
}

.web-about p {
    font-size: 1rem;
    font-family: palanquin, sans-serif;
    color: var(--font-color);
}

@media (max-width: 768px) {
    .web-about {
        padding: 25px 50px;
    }
    .web-about h1 {
        font-size: 2rem;
        margin: 20px 0px;
        padding: 10px;
    }
    .web-about p {
        font-size: 0.75rem;
    }
    }

.pineapple {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1330px) {
    .pineapple {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
        padding: 10px;
        text-align: center;
    }    
}



.pinearticle {
    padding: 50px 100px;
    width: 40%;
}


.pinearticle h2 {
    font-size: 2rem;
    font-family: palanquin, sans-serif;
    text-align: left;
}

.pinearticle p {
    font-size: 1rem;
    font-family: palanquin, sans-serif;
    text-align: left;
}

.pineappleimg {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 50px;
}

img {
    width: 500px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.gallery1 {
    flex-direction: row;
    width: 50%;
    
}

.gallery2 {
    flex-direction: row;
    width: 50%;
    padding: 50px;
}

.gallery2 img {
    width: 400px;
}

footer {
    background-color: white;
    text-align: center;
    color: var(--font-color);
}

footer h3 {
    font-size: 1.75rem;
    padding: 10px;
    font-family: palanquin, sans-serif;
}


.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    font-family: palanquin, sans-serif;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .contact {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        gap: 10px;
        font-size: 0.75rem;
    }
    }
